*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imges/img.png.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 250px;
    
}

#contact-section{

    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#contact-section .container h2{
    text-align: center;
    text-decoration:underline;
    text-underline-position:under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}




#contact-section .container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

.form-info{
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}

input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}

input::placeholder{
    color: #fff;
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: #fff;

}

.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight:bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190, 190, 190);
    color: #fff;
}

.submit:hover{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
}

/*media queries*/

@media (max-width:768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    #contact-section .submit{
        width: 60%;
    }
}



.mainHeader{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    margin-right: 30px;
    margin-top: -1px;
  
  
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    
}

ul li a:hover{
        background-color: #fff;
        color: #000;

}   

ul li.contact a{
    background-color: #fff;
    color: #000;
}


.instagram {   
    background: transparent;   
    color: #fff; 
    margin-left: 1220px;
      
}    

.facebook {   
       
    color: white;  
    margin-left: 10px;

}

.pinterest{
    color: #fff;
    margin-left: 10px;
}

.twitter{
    color: #fff;
    margin-left: 10px;
}




.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 25px;
    margin-right: 390px;
  }